* text=auto eol=lf

*.bib text eol=lf
*.cff text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lean text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.tex text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
lean-toolchain text eol=lf

*.docx binary
*.gz binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.sqlite binary
*.zip binary
